[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ubuntu/Desktop/exo-terminal-emulator.desktop]
row=4
col=0

[/home/ubuntu/Desktop/firefox.desktop]
row=5
col=0

[/home/ubuntu/Desktop/DOC]
row=3
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/ubuntu]
row=2
col=0

